<!-- Base is where html code is shared between all sites -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .navbar-nav .nav-link {
                color: #004080 !important;
                font-weight: 500;
            }
            
            .navbar-nav .nav-link:hover {
                color: #002040 !important;
            }
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Include Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
        <title>Base Booking Page</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #aacce5;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> 
                    <img  src="{% static 'media/movie_logo.png' %}" style="width:40px;" alt="Movie Logo">
                    Kino
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'movie_list' %}">Movie List</a>
                        </li>
                        <li>
                            <a class="nav-link" href="booking_history">Booking History</a>
                        </li>
                        <li>
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="accounts/logout">Logout</a>
                            {% else %}
                                <a class="nav-link" href="accounts/login">Login</a>
                            {% endif %}
                        </li>     
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-4">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>